export(MadingleyInit)
export(MadingleyInputs)
export(MadingleyRun)
export(ListOutputPaths)
export(GetLibPath)
export(CropSpatialRastersToWindow)
export(DownloadLoadHalfDegreeInputs)
export(SetSingleValueForAllRasters)
export(PlotCombinedTimelines)
export(GetCohortsToReintroduce)
export(GetRewildingEuropeCohortDefs)

import(sp)
import(raster)
importFrom(data.table, fwrite)
